@font-face {
    font-family: 'Graystroke';
    font-weight: normal;
    font-style: normal;
    src: 
        local('Graystroke'),
        url('./GRAYSTROKE\ REGULAR.otf') format('opentype');
  }