@import "theme";

@contentMaxWidth: 1150px;
@scrollWidth: 0.6em;
@primaryNavBarHeight: 64px;
@secondaryNavBarHeight: 32px;
@footerHeight: @secondaryNavBarHeight;
@spacingUnit: 8px;

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Economica", sans-serif;
}

button {
	font-family: "Economica", sans-serif;
	text-transform: uppercase;
}

.ant-btn:focus {
	background-color: none !important;
	border-color: none !important;
}

::-webkit-scrollbar {
	width: @scrollWidth;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(200, 200, 200, 0.2);
	outline: 1px solid rgba(200, 200, 200, 0.2);
}

::-webkit-scrollbar-corner {
	background-color: rgba(200, 200, 200, 0.2);
	outline: 1px solid rgba(200, 200, 200, 0.2);
}

/* main layout */
#root {
	height: 100vh;
}

#narrow-content-container {
	max-width: @contentMaxWidth;
	width: 100%;
	&:after {
		display: block;
		background-color: transparent;
		height: @spacingUnit;
	}
}
/* ----- */

/* navbars */
#primary-header {
    height: @primaryNavBarHeight;
    .ant-menu-horizontal {
        line-height: @primaryNavBarHeight;
        font-size: 28px;
        background-color: transparent;
        a {
            color: @text-color;
        }
	}

	#logo {
		height: 50px;
		margin: @spacingUnit;
	}
}

#secondary-header {
    height: @secondaryNavBarHeight;
    margin-top: @primaryNavBarHeight;
    background-color: @layout-header-background-secondary;
    box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.2), 0px 4px 0px 0px rgba(0, 0, 0, 0.14), 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
    .ant-menu-horizontal {
        line-height: @secondaryNavBarHeight;
        background-color: transparent;
        font-size: 1rem;
        text-transform: uppercase;
	}
	
    #first-sub-menu {
        margin-right: auto;
        max-width: 50%;
	}
	
    #second-sub-menu {
        margin-right: 10px;
		max-width: 100%;
		background-color: @layout-header-background;
		border-radius: 0 0 8px 8px;
	}
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: @footerHeight;
    color: @text-color;
    box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .ant-menu-horizontal {
        line-height: @footerHeight;
        background-color: @layout-header-background-secondary;
        float: right;
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        i {
            font-size: 20px;
        }
    }
}

.ant-layout-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    padding-right: @scrollWidth;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .ant-menu-horizontal {
        margin-right: auto;
        font-family: "Economica", sans-serif;
    }
}
/* ----- */

/* spinny boi */
.ant-spin-container:after {
	background: @layout-body-background;
}

.ant-spin-nested-loading.nontransparent {
	> .ant-spin-blur:after {
		opacity: 1;
	}
}

.ant-spin-blur:after {
	opacity: 0.5;
}

.ant-spin-nested-loading.fixed > div > .ant-spin {
	> .ant-spin-dot {
		position: fixed;
		top: 50%;
		left: 50%;
	}
}
/* ----- */

.full-height {
	height: 100%;
	> .ant-spin-container {
		height: 100%;
	}
}

.ant-layout {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.ant-layout-content {
	margin: @primaryNavBarHeight + @secondaryNavBarHeight 0 @footerHeight 0;
	width: 100%;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
}
.seed-card {
	&.shadow-card&:hover {
		background-color: rgba(255, 255, 255, 0.15);
	}
	.ant-card-body {
		padding: 16px 16px 0px 16px;
	}
	.seed-card-row-left {
		justify-content: center;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		flex: 1;
		min-width: 170px;
	}
	.seed-card-row-right {
		justify-content: center;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		flex: 9;
		margin-top: auto;
		margin-bottom: auto;
	}
}

.ant-switch-checked {
	background-color: @btn-primary-bg;
}

.ant-alert {
	color: #000;
}

.ant-card.shadow-card {
	background-color: @card-background;
	border-radius: @spacingUnit / 2;
	margin: @spacingUnit;

	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 3px 1px -2px rgba(0, 0, 0, 0.12);
	&.card-full-width {
		width: calc(100% - @spacingUnit * 2);
	}
}

.full-width {
	width: 100%;
}

.ant-cascader-picker-clear {
	background: transparent;
	color: rgba(255, 255, 255, 1);
}

.ant-cascader-picker-arrow {
	color: rgba(255, 255, 255, 1);
}

.ant-select-arrow {
	color: rgba(255, 255, 255, 1);
}
form .has-feedback .ant-input {
	padding-right: 11px;
}

.ant-row {
	max-width: 100%;
}

.ant-modal-content {
	background: #2f3136;
	.ant-btn:not(.ant-btn-primary) {
		background-color: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0.1);
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
			color: #fff;
		}
	}
}

.hover-text-danger:hover {
	color: rgb(183, 28, 28);
}

.ant-popover-inner {
	background: #2f3136;
	.ant-btn.ant-btn-sm:not(.ant-btn-primary) {
		background-color: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0.1);
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}

.ant-menu-dark .ant-menu-item > a {
	color: white;
}

.transparent-background-color {
	background-color: transparent;
	&.ant-btn {
		&:hover {
			background-color: rgba(0, 0, 0, 0.12);
			color: white;
		}
		&:focus {
			background-color: rgba(0, 0, 0, 0.05);
			color: white;
		}
	}
	.ant-select-selection {
		background: transparent;
	}
	&.ant-select-dropdown-menu-item {
		background: #2f3136;
		&:hover {
			background: lighten(#2f3136, 5%);
		}
	}
	&.ant-select-dropdown-menu-item-active {
		background: @btn-primary-bg;
		&:hover {
			background: lighten(@btn-primary-bg, 10%);
		}
	}
	.ant-select-dropdown-menu-item {
		background: #2f3136;
		&:hover {
			background: lighten(#2f3136, 5%);
		}
	}
}

.ant-input-group-addon {
	background: #2f3136;
}

.dark-cascader {
	background: #2f3136;
	&.ant-cascader-menus {
		box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.2), 0px 4px 0px 0px rgba(0, 0, 0, 0.14),
			0px 1px 0px 0px rgba(0, 0, 0, 0.12);
	}
	.ant-cascader-menu-item {
		background: transparent;
		&:hover {
			background: lighten(#2f3136, 5%);
		}
	}

	.ant-cascader-menu-item-active {
		background: @btn-primary-bg;
		&:hover {
			background: lighten(@btn-primary-bg, 10%);
		}
	}
}



.max-content-width {
	max-width: @contentMaxWidth;
	width: 100%;
}
